<?php
/**
 * WebhookApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Client Api
 *
 * Bumbal API documentation
 *
 * OpenAPI spec version: 2.0
 * Contact: gerb@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalClient\API;

use \BumbalClient\ApiClient;
use \BumbalClient\ApiException;
use \BumbalClient\Configuration;
use \BumbalClient\ObjectSerializer;

/**
 * WebhookApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class WebhookApi
{
    /**
     * API Client
     *
     * @var \BumbalClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\BumbalClient\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalClient\ApiClient $apiClient set the API client
     *
     * @return WebhookApi
     */
    public function setApiClient(\BumbalClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation triggerWebHook
     *
     * Trigger a webhook
     *
     * @param int $object_id objectId (required)
     * @param string[] $web_hook_name Name of this Web Hook (required)
     * @param \BumbalClient\Model\PayloadItem[] $extra_payload extra payload to be sent when the webhook is triggered (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ApiResponse
     */
    public function triggerWebHook($object_id, $web_hook_name, $extra_payload = null)
    {
        list($response) = $this->triggerWebHookWithHttpInfo($object_id, $web_hook_name, $extra_payload);
        return $response;
    }

    /**
     * Operation triggerWebHookWithHttpInfo
     *
     * Trigger a webhook
     *
     * @param int $object_id objectId (required)
     * @param string[] $web_hook_name Name of this Web Hook (required)
     * @param \BumbalClient\Model\PayloadItem[] $extra_payload extra payload to be sent when the webhook is triggered (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function triggerWebHookWithHttpInfo($object_id, $web_hook_name, $extra_payload = null)
    {
        // verify the required parameter 'object_id' is set
        if ($object_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $object_id when calling triggerWebHook');
        }
        // verify the required parameter 'web_hook_name' is set
        if ($web_hook_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $web_hook_name when calling triggerWebHook');
        }
        // parse inputs
        $resourcePath = "/web-hook/trigger";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml', 'application/x-www-form-urlencoded']);

        // form params
        if ($object_id !== null) {
            $formParams['objectId'] = $this->apiClient->getSerializer()->toFormValue($object_id);
        }
        // form params
        if ($web_hook_name !== null) {
            $formParams['webHookName'] = $this->apiClient->getSerializer()->toFormValue($web_hook_name);
        }
        // form params
        if ($extra_payload !== null) {
            $formParams['extraPayload'] = $this->apiClient->getSerializer()->toFormValue($extra_payload);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ApiResponse',
                '/web-hook/trigger'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
